@import url(./__logo/header__logo.css);

.header{
  margin: 0 auto;
  width: 100%;
  max-width: 882px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  font-style: normal;
  font-weight: normal;
}

